
h1 {
    font-family: Luminari, fantasy;
    color: ;
}
h2 {
    font-family:Snell Roundhand, cursive ;
}
h3{
    font-family: Brush Script MT, Brush Script Std, cursive;
}
h6{
    font-family: Snell Roundhand, cursive;
    color: sandybrown;
}
p {
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}
.logo{
    background-color: blueviolet;
}
.menu{
    background-color: palevioletred;
}
.start {
    background-color: rebeccapurple;
}
header{
    background-color: mediumorchid;
}
main{
    background-color: mediumslateblue;
}
footer{
    background-color: plum;
}
